/* Estilos para el botón de alternancia */
.toggle-button {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
    background-color: #4c4faf;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 50px; /* Centra el texto verticalmente */
    transition: background-color 0.3s ease;
  }
  
  .toggle-button .slider {
    position: absolute;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
    width: 14px;
    height: 14px;
    top: 1px;
    left: 1px;
  }
  

  .toggle-button.on .slider {
    transform: translateX(16px);
  }
 
  
  .toggle-button.off .slider {
    transform: translateX(0);
  }
  
  .toggle-button .label {
    position: relative;
    z-index: 1; /* Asegura que el texto esté por encima del slider */
  }
  